body{
    background-color: rgb(121, 195, 150);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    color: rgb(88, 77, 65);
}

a:hover{
    color:whitesmoke;
}

main{
    color: rgb(118, 74, 53);
    text-align: left;
    text-align: center;
}

h2{
    text-align: center;
}
section.left ul li {
    display: list-item;
    margin-left: 10%;
    list-style-type: disc;
    padding-bottom: 1%;
}
section.left {
    text-align: left;
    padding-left: 14%;
    padding-bottom: 2%;
}