.bullet-points{
    color: brown;
}

body{
    background-color: bisque;
    text-align: center;
}

img{
    margin: 0 auto;
	margin-top: 3.5%;
	display:block;
	border-radius: 50%;
	object-fit: cover;
	border: 3px solid #515052;
}