<nav>
    <a href="https://webpages.charlotte.edu/mphann/">CLT Web</a>
    ||
    <a href="https://github.com/MonicaPhann/MonicaPhann.github.io">ITIS 3135 Github Repository</a>
    ||
    <a href="https://monicaphann.github.io/itis3135/index.html">ITIS 3135 Github Page</a>
    ||
    <a href="https://github.com/MonicaPhann">Github</a>
    ||
    <a href="https://www.linkedin.com/in/monicaphann">Linkedin</a>
    ||
    <a href="https://www.codecademy.com/profiles/MonicaPhann">codecademy</a>
    ||
    <a href="https://www.freecodecamp.org/MonicaPhann">freeCodeCamp</a>
    <br>
    <p class="tag">Built by <a href="phannfirm.com/index.html">Phann Firm</a> <a class= "link" href="https://www.freecodecamp.org/certification/MonicaPhann/responsive-web-design"><i>Certified in Responsive Web Design</i></a><a class= "link" href="https://www.freecodecamp.org/certification/MonicaPhann/javascript-algorithms-and-data-structures-v8"><i>, Certified in JS ©2025</i></a></p>
</nav>
