<h1>Monica Phann's Marvelous Panda || ITIS 3135 homepage</h1>

            <nav>
                <a href="../index.html">Home Page</a>
                ||
                <a href="introduction.html">Introduction</a>
                ||
                <a href="contract.html">Contract</a>
                ||
                <a href="stuff/Cr@&%20%20PPY.htm">Crappy Website</a>
                ||
                <a href="website_evaluation.html">Website Evaluation</a>
                ||
                <a href="marvelouspanda/index.html">Whimsical Company</a>
                ||
                <a href="hobby/index.html">Hobby</a>
                ||
                <a href="tables.html">Tables</a>
                ||
                <a href="slideshow.html">Slideshow</a>
                ||
                <a href="byo_intro.html">BYO</a>
                ||
                <a href="drawing.html">Drawing</a>
                ||
                <a href="project/index.html">Client Project</a>
            </nav>